# Pandas Commands

In [1]:
import pandas as pd

In [2]:
# Creating a Series from a list
data = [10, 20, 30, 40, 50]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
# Indexing and Slicing a Series
data = [10, 20, 30, 40, 50]
s = pd.Series(data)

# Accessing elements by index
print("First element:", s[0])
print("Second element:", s[1])

# Slicing
print("Sliced series:", s[1:4])

First element: 10
Second element: 20
Sliced series: 1    20
2    30
3    40
dtype: int64

In [7]:
# Labeling a Series
data = [10, 20, 30, 40, 50]

# Creating a Series with custom labels
s = pd.Series(data, index=['A', 'B', 'C', 'D', 'E'])
print(s)

# Accessing elements by custom labels
print("Element at label 'C':", s['C'])

A    10
B    20
C    30
D    40
E    50
dtype: int64
Element at label 'C': 30

In [8]:
# Creating a DataFrame from a dictionary
data = { 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'City': ['New York', 'San Francisco', 'Los Angeles']
}
df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [9]:
# Indexing and Slicing a DataFrame
data = { 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)
# Accessing columns by name
print("Names:\n", df['Name'])
# Slicing rows
print("Sliced rows:\n", df[1:3])

Names:
 0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
Sliced rows:
       Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [10]:
# : DataFrame Operations
data = { 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [25, 30, 35],
 'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# Adding a new column
df['Country'] = ['USA', 'USA', 'USA']

# Applying a function to a column
df['Age'] = df['Age'] + 1

# Filtering rows
young_people = df[df['Age'] < 30]
print("Modified DataFrame:\n", df)
print("Young people:\n", young_people)

Modified DataFrame:
       Name  Age           City Country
0    Alice   26       New York     USA
1      Bob   31  San Francisco     USA
2  Charlie   36    Los Angeles     USA
Young people:
     Name  Age      City Country
0  Alice   26  New York     USA

# CSV File

In [29]:
# Reading a CSV file into a DataFrame
df = pd.read_csv(r'C:\Users\Jagtap\Downloads\New folder\champion.csv')

In [30]:
# Printing the first few rows of the DataFrame
print(df.head())

   Year        Host  No Of Team   Champion  Runner Up Player Of The Series  \
0  1984         UAE           3      India  Sri Lanka      Surinder Khanna
1  1986   Sri Lanka           3  Sri Lanka   Pakistan     Arjuna Ranatunga
2  1988  Bangladesh           4      India  Sri Lanka         Navjot Sidhu
3  1990       India           3      India  Sri Lanka          Not Awarded
4  1995         UAE           4      India  Sri Lanka         Navjot Sidhu

  Highest Run Scorer Highest Wicket Taker
0    Surinder Khanna         Ravi Shastri
1   Arjuna Ranatunga          Abdul Qadir
2         Ijaz Ahmed          Arshad Ayub
3   Arjuna Ranatunga            Kapil Dev
4   Sachin Tendulkar          Anil Kumble

In [35]:
print(df.tail())

    Year        Host  No Of Team   Champion   Runner Up Player Of The Series  \
10  2012  Bangladesh           4   Pakistan  Bangladesh      Shakib Al Hasan
11  2014  Bangladesh           5  Sri Lanka    Pakistan    Lahiru Thirimanne
12  2016  Bangladesh           5      India  Bangladesh        Sabbir Rahman
13  2018         UAE           6      India  Bangladesh       Shikhar Dhawan
14  2022         UAE           6  Sri Lanka    Pakistan    Wanindu Hasaranga

   Highest Run Scorer Highest Wicket Taker
10        Virat Kohli             Umar Gul
11  Lahiru Thirimanne       Lasith Malinga
12      Sabbir Rahman      Al Amin Hossain
13     Shikhar Dhawan          Rashid Khan
14    Mohammad Rizwan    Bhuvneshwar Kumar

In [31]:
print(df.columns)

Index(['Year', 'Host', 'No Of Team', 'Champion', 'Runner Up',
       'Player Of The Series', 'Highest Run Scorer', 'Highest Wicket Taker'],
      dtype='object')

In [32]:
print(df.shape)

(15, 8)

In [36]:
print(df.sample(n=5))

    Year        Host  No Of Team   Champion   Runner Up Player Of The Series  \
12  2016  Bangladesh           5      India  Bangladesh        Sabbir Rahman
3   1990       India           3      India   Sri Lanka          Not Awarded
9   2010   Sri Lanka           4      India   Sri Lanka        Shahid Afridi
10  2012  Bangladesh           4   Pakistan  Bangladesh      Shakib Al Hasan
11  2014  Bangladesh           5  Sri Lanka    Pakistan    Lahiru Thirimanne

   Highest Run Scorer Highest Wicket Taker
12      Sabbir Rahman      Al Amin Hossain
3    Arjuna Ranatunga            Kapil Dev
9       Shahid Afridi       Lasith Malinga
10        Virat Kohli             Umar Gul
11  Lahiru Thirimanne       Lasith Malinga

In [33]:
print(df.dtypes)

Year                     int64
Host                    object
No Of Team               int64
Champion                object
Runner Up               object
Player Of The Series    object
Highest Run Scorer      object
Highest Wicket Taker    object
dtype: object

In [34]:
print(df.describe())

              Year  No Of Team
count    15.000000   15.000000
mean   2002.933333    4.466667
std      12.492665    1.125463
min    1984.000000    3.000000
25%    1992.500000    4.000000
50%    2004.000000    4.000000
75%    2013.000000    5.500000
max    2022.000000    6.000000

# Excel File

In [16]:
# Reading an Excel file into a DataFrame
df = pd.read_excel(r'C:\Users\Jagtap\Downloads\champion.xlsx', sheet_name='champion')

In [17]:
# Printing the first few rows of the DataFrame
print(df.head())

   Year        Host  No Of Team   Champion  Runner Up Player Of The Series  \
0  1984         UAE           3      India  Sri Lanka      Surinder Khanna
1  1986   Sri Lanka           3  Sri Lanka   Pakistan     Arjuna Ranatunga
2  1988  Bangladesh           4      India  Sri Lanka         Navjot Sidhu
3  1990       India           3      India  Sri Lanka          Not Awarded
4  1995         UAE           4      India  Sri Lanka         Navjot Sidhu

  Highest Run Scorer Highest Wicket Taker
0    Surinder Khanna         Ravi Shastri
1   Arjuna Ranatunga          Abdul Qadir
2         Ijaz Ahmed          Arshad Ayub
3   Arjuna Ranatunga            Kapil Dev
4   Sachin Tendulkar          Anil Kumble

# SQL Database

In [18]:
from sqlalchemy import create_engine

In [20]:
# Creating a SQLAlchemy engine
engine = create_engine(r'sqlite:///C:\Users\Jagtap\Downloads\New folder (2)\sqlite-sakila.db')

In [22]:
# Reading data from a SQL database into a DataFrame
query = 'SELECT * FROM film'
df = pd.read_sql(query, engine)

In [23]:
# Printing the first few rows of the DataFrame
print(df.head())

   film_id             title  \
0        1  ACADEMY DINOSAUR
1        2    ACE GOLDFINGER
2        3  ADAPTATION HOLES
3        4  AFFAIR PREJUDICE
4        5       AFRICAN EGG

                                         description release_year  \
0  A Epic Drama of a Feminist And a Mad Scientist...         2006
1  A Astounding Epistle of a Database Administrat...         2006
2  A Astounding Reflection of a Lumberjack And a ...         2006
3  A Fanciful Documentary of a Frisbee And a Lumb...         2006
4  A Fast-Paced Documentary of a Pastry Chef And ...         2006

   language_id original_language_id  rental_duration  rental_rate  length  \
0            1                 None                6         0.99      86
1            1                 None                3         4.99      48
2            1                 None                7         2.99      50
3            1                 None                5         2.99     117
4            1                 None                6         2.99     130

   replacement_cost rating                  special_features  \
0             20.99     PG  Deleted Scenes,Behind the Scenes
1             12.99      G           Trailers,Deleted Scenes
2             18.99  NC-17           Trailers,Deleted Scenes
3             26.99      G    Commentaries,Behind the Scenes
4             22.99      G                    Deleted Scenes

           last_update
0  2021-03-06 15:52:00
1  2021-03-06 15:52:00
2  2021-03-06 15:52:00
3  2021-03-06 15:52:00
4  2021-03-06 15:52:00